:root{
  --primary-color:#00528b;
  --button-color:#036a9d;
  --base-bgcolor:#ffffff;
  --base-textcolor:#02effc;
  --error-color:red;
  --font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  font-family: var(--font-family);
}

button{
  background-color: var(--button-color) !important;
  border: none !important;
}

.formSection{
 display: inline-block;
 background-color: var(--base-bgcolor);
 height:fit-content;
 border-radius: 15px;
 margin-top:8% !important;
 opacity:0.9;
 border: 1px solid var(--primary-color) !important;
}

.formHeading, .formFieldsAlign{
 text-align:center;
 color:var(--primary-color);
}

.login_sideNav_img{
  height:80vh;
  margin-top: 5% !important;
  
  width: 115%;
  opacity: 0.8;
  border-radius: 15px;;
}

#errorMessage{
  color:var(--error-color);
  font-style: italic;
}

.hr_navbar{
  padding:0;
  background-color: var(--primary-color);
}

.nav-link{
  color:var(--base-bgcolor) !important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: var(--base-textcolor) !important;
}

.nav-item{
  margin-left:2em;
}

.navBarUnOrderedList{
  margin-left:auto;
  margin-right:auto;
  
}

.employeeDetails td {
  width: 14rem;
  height: 2.5rem;
  font-size: 20px;
}


